/ { 
    gpio_keys {
        compatible = "gpio-keys";
        ledyellow: led_yellow {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        };

    };

    aliases {
        led-yellow = &ledyellow;
    };
};

&i2c0 {
    my_i2c_device: ecranlcd@27 {
            compatible = "i2c-device";
            label = "LCD";
            /* reg is the I2C device address.
             * It must match the node's unit address. */
            reg = <27>;

    
            /* Configure other I2C device properties as needed.
             * Find your device's DT binding for details. */
    };

aliases {
    lcd-screen = &lcdscreen;
};
};