/ { 

    zephyr,user{
        io-channels= <&adc0 6>;
    };

    gpio_keys {
        compatible = "gpio-keys";
        ledyellow: led_yellow {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        };

        dht11:dht11 {
            compatible = "aosong,dht";
            status = "okay";
            dio-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
            label = "XHT11";
        };



    };
    buttons {
            
            
        button0: button_0 {
                gpios = <&gpio0 16 GPIO_PULL_UP>;
                label = "User_button_0";
        };

        button1: button_1 {
                gpios = <&gpio0 27 GPIO_PULL_UP>;
                label = "User_button_1";
        };
    };

    aliases {
        led-yellow = &ledyellow;
        lcd-screen = &lcdscreen;
        sw0 = &button0;
        sw1 = &button1;
    };
};



&i2c0 {
    lcdscreen: lcd_screen@27 {
            compatible = "i2c-device";
            label = "LCD";
            reg = <0x27>;


    };
};

&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    
    channel@6 {
        reg = <6>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

